

.cart-wrapper {
    width: 70%;
    margin: 20px auto;
    // border: 1px solid #333;
}

.cart-title {
    border-bottom: 1px solid #333;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 3px  #c0c0c0;
    margin: 6px 0;

    img {
        width: 80px;
        height: 80px;
        margin-right: 10px ;
    }
    .cart-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }
    button {
        display: inline-block;
        border: 0;
        background: #2a5ea5;
        color: #fff;
        padding: 7px;
        border-radius:6px;
        cursor: pointer;
    }
}