

.products-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-item {
        width: 30%;
        margin: 10px 0px;
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        padding: 2px;
        border: 1px solid #c0c0c0;
    }
    .product-desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:10px 0 ;
    }
    button {
        display: block;
        width: 100%;
        border: 0;
        background: #2a5ea5;
        color: #fff;
        padding: 7px;
        border-radius: 2px;
        cursor: pointer;
    }
    }
}

.product-info {
    background-color: #c0c0c0;
    padding: 20px;
    img {
        display: block;
        width: 40%;
        margin: 20px auto;
    }
    p {
        color: #2a5ea5;
        font-size: 20px;
        margin: 10px 0;
        text-align: center;
    }
}

.close-icon {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    font-size: 20px;
}